@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots li button:before {
  color: #f13025 !important;
}
.slick-slider .slick-track {
  display: flex !important;
  align-items: center !important;
  column-gap: 10px !important;
}

.slick-slide div .flexbox {
  display: flex !important;
  align-items: center !important;
  gap: 50px !important;
}

@media (max-width: 600px) {
  .slick-slide div .flexbox {
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important;
  }
}
.skills {
  display: flex !important;
  flex-direction: row !important;
  gap: 10px;
}
